name: Link Checker
on:
  pull_request:
    paths:
      - '**/*.md'
jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v1
        with:
          args: --no-progress --verbose '**/*.md'
